/**
 * Cart Icon
 */
.woo-menu-cart-icon {
	display: inline-block;
  border: 0;
  padding:0;
}

.woo-next-cart-wrap {
  cursor: pointer;
}

.woo-next-cart-price {
  color: #fff;
  display: none;
}

.woo-next-cart-icon-container {
  position: relative;
}

.woo-next-cart-icon {
  font-size: 20px;
}

.woo-next-cart-count {
  top: -5px;
  left: 18px;
  line-height: 20px;
  color: #fff;
  height: 20px;
  width: 20px;
  font-weight: 300;
  border-radius: 50%;
  background-color: #db232e;
  position: absolute;
  font-size: 12px;
}

.woo-next-view-cart-btn {
  margin-left: 10px;
}
