

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.gstatic.com" ;
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" ;

* {
  box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif!important;
}


@media (min-width: 1200px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1200px!important;
}

}


/********** Header ***********/


.main-menu {
    padding: 15px 0px;
}

.header-section {
    padding: 10px 0px;
}

.header-section .row{
    align-items: center;
}

.cart-icon-wrap {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    justify-content: flex-end;
}

.wishlist-menu {
	position: relative;
}

.wishlist-count {
	top: -8px;
	left: 13px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 16px;
	color: #fff;
	min-height: 16px;
	font-weight: 700;
	border-radius: 50%;
	background-color: #868484;
	position: absolute;
}

.cart-icon-wrap .get-started {
    background: #db232e;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    margin-left: 40px;
}

.user-account {
    padding: 0px 20px;
}

/********** Footer ****************/


.footer__sidebar-one.footer-widget .textwidget {
    max-width: 250px;
}


.footer__top {
    display: flex;
    align-items: flex-start;
}

.footer-box {
    padding: 0px 10px;
}

.footer-box.footer-one, .footer-box.footer-four {
    width: 30%;
}

.footer-box.footer-two, .footer-box.footer-three {
    width: 20%;
}

.footer__sidebar-one{
    font-size: 12px;
    color: #fff;
    line-height: 22px;
    font-weight: 600;
}
.footer__sidebar-one p {
    margin: 0;
}

.social-icon {
    margin-top: 35px;
}


.social-icon ul {
    display: flex;
}

.social-icon ul li {
    margin-right: 10px;
}

.footer-box h2 {
    font-weight: 600;
    font-size: 18px;
    color: #db232e!important;
    margin: 0;
    padding-bottom: 35px;
}

.footer-two ul li a {
    font-weight: 600;
    font-size: 13px;
    display: block;
    padding: 6px 0px;
}

.footer-two ul li a:hover {
    color: #db232e;
}



.address-box h4 {
    color: #db232e!important;
    font-size: 14px;
    margin: 0;
    padding-bottom: 5px;
}

.address-box p {
    font-size: 12px;
}

.address-box {
    position: relative;
    padding-left: 35px;
    padding-bottom: 15px;
}

.address-box img {
    position: absolute;
    left: 0;
}

.insta-post img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-right: 7px;
    margin-bottom: 7px;
}

.footer__sidebar-one {
    max-width: 255px;
}


.footer-two ul li a i {
    color: #db232e;
    margin-right: 15px;
}



/********** Home banner ************/


.banner-bg{
    background-image: url(../images/home-bg.png);
    position: relative;
    padding: 100px 0px;
    min-height: 660px;
    display: flex;
    align-items: center;
}

.left-graphic {
    position: absolute;
    left: -50px;
    top: 0;
}

.right-graphic {
    position: absolute;
    right: -50px;
    top: 0;
}

.banner-content {
    max-width: 550px;
    margin: 0px auto;
    text-align: center;
}

.banner-content h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    color: #731216;
    margin: 0;
    padding-bottom: 50px;
}

.banner-content a {
    background: #db232e;
    color: #fff!important;
    padding: 12px 50px;
    border-radius: 4px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}



/********** Home Featured *********/


.feature-graphic {
    position: absolute;
    left: -400px;
    bottom: -200px;
}

.feature-home {
    position: relative;
    padding: 100px 0px;
}

.feature-content {
    display: flex;
    justify-content: space-between;
}

.feature-box {
    text-align: center;
    padding: 0px 15px;
}

.feature-box p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.feature-box h2 {
    color: #731216;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 25px;
}





/*********** Home Plan ***************/


.plan-home {
    padding: 10px 0px;
    position: relative;
    min-height: 738px;
}

.convenient {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 732px;
    justify-content: flex-start;
    margin: 0px auto;
    max-width: 1441px;
    position: relative;
    width: auto;
}

.plan-box {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    justify-content: flex-start;
    min-height: 320px;
    position: relative;
    max-width: 477px;
    padding-left: 60px;
}

.plan-heading {
    color: #731216;
    flex-shrink: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    position: relative;
    text-align: left;
    max-width: 477px;
}

.plan-text {
    background-color: transparent;
    color: #333;
    flex-shrink: 0;
    font-size: 15px;
    height: auto;
    line-height: 26px;
    margin-top: 24px;
    position: relative;
    text-align: left;
    max-width: 461px;
    font-weight: 600;
}

.overlap-plan {
    background-color: transparent;
    flex-shrink: 0;
    height: 732px;
    margin-left: 147px;
    position: relative;
    width: 817px;
}

.oval-plan {
    background-color: transparent;
    height: 732px;
    left: 43px;
    position: absolute;
    top: 0px;
    width: 732px;
}

.plan-food{
    background-color: transparent;
    height: 617px;
    left: 0px;
    position: absolute;
    top: 63px;
    width: 817px;
}

.plan-box a {
    background: #db232e;
    color: #fff!important;
    padding: 12px 50px;
    border-radius: 4px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
}








/***************** Subscribe ***************/



.subscribe-bg{
    background-image: url(../images/subscribe-bg.png);
    position: relative;
    padding: 75px 0px;
}

.subscribe-content {
    text-align: center;
}

.subscribe-content h2 {
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
}

.subscribe-content p {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding-bottom: 30px;
}

.subscribe-form {
    max-width: 400px;
    margin: 0px auto;
    position: relative;
}

.subscribe-form .form-control {
    height: auto;
    padding: 18px 10px;
    border: none;
    padding-right: 100px;
}

.subscribe-form button {
    position: absolute;
    background: #db232e;
    border: none;
    border-radius: 4px;
    top: 8px;
    right: 8px;
    padding: 10px 20px;
    color: #fff;
}




/********* Home Product ************/


.product-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}

.product-heading h2 {
    color: #731216;
    flex-shrink: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    position: relative;
    text-align: left;
}

.product-heading {
    padding-right: 20px;
}

.product-heading p {
    font-size: 16px;
    font-weight: 600;
    color: #999;
    margin: 0;
}

.product-container .card-header {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
}

.product-container .card-subtitle {
    font-size: 20px;
    color: #731216;
    font-weight: 600;
}

.btn-cart {
    background: #db232e;
    color: #fff!important;
    padding: 10px 50px;
    border-radius: 4px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0px;
    border: none;
}

.btn-cart:hover, .btn-cart:focus {
    background: #db232e;
    color: #fff!important;
    text-decoration: none;
}

.product-image img {
    border-radius: 10px;
}