

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.gstatic.com" ;
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" ;

* {
  box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif!important;
}


@media (min-width: 1200px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1248px!important;
}

}


/********** Header ***********/


.main-menu {
    padding: 15px 0px;
}

.header-section {
    padding: 16px 0px;
}

.main-logo {
    text-align: center;
}

.header-section .row{
    align-items: center;
}

.header-nav .header-nav__menu-item:first-child {
    padding-left: 0;
}

.header-nav .header-nav__menu-item .header-nav__menu-link {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
}

.cart-icon-wrap {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    justify-content: flex-end;
}

.wishlist-menu {
	position: relative;
}

.wishlist-count {
	top: -8px;
	left: 13px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 16px;
	color: #fff;
	min-height: 16px;
	font-weight: 700;
	border-radius: 50%;
	background-color: #868484;
	position: absolute;
}

.cart-icon-wrap .get-started {
    background: #db232e;
    color: #fff;
    padding: 9px 20px;
    border-radius: 4px;
    margin-left: 50px;
    max-width: 152px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.user-account {
    padding: 0px 20px;
}

/********** Footer ****************/


.footer__sidebar-one.footer-widget .textwidget {
    max-width: 250px;
}


.footer__top {
    display: flex;
    align-items: flex-start;
}

.footer-box {
    padding: 0px 10px;
}

.footer-box.footer-one, .footer-box.footer-four {
    width: 30%;
}

.footer-box.footer-two, .footer-box.footer-three {
    width: 20%;
}

.footer__sidebar-one{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.footer__sidebar-one p {
    margin: 0;
}

.social-icon {
    margin-top: 40px;
}


.social-icon ul {
    display: flex;
}

.social-icon ul li {
    margin-right: 10px;
}

.footer-box h2 {
    font-weight: 600;
    color: #db232e!important;
    margin: 0;
    padding-bottom: 28px;
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
}

.footer-two ul li a {
    font-weight: 600;
    display: block;
    font-size: 14px;
    line-height: 29px;
    padding-bottom: 3px;
}
.footer-two ul li a:hover {
    color: #db232e;
}



.address-box h4 {
    color: #db232e!important;
    margin: 0;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.address-box p {
    font-size: 14px;
    line-height: 21px;
}

.address-box {
    position: relative;
    padding-left: 35px;
    padding-bottom: 15px;
}

.address-box img {
    position: absolute;
    left: 0;
}

.insta-post img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-right: 7px;
    margin-bottom: 7px;
}

.footer__sidebar-one {
    max-width: 255px;
}


.footer-two ul li a i {
    color: #db232e;
    margin-right: 15px;
}



/********** Home banner ************/


.banner-bg{
    background-image: url(../images/home-bg.png);
    position: relative;
    padding: 100px 0px;
    min-height: 660px;
    display: flex;
    align-items: center;
}

.left-graphic {
    position: absolute;
    left: -50px;
    top: 0;
}

.right-graphic {
    position: absolute;
    right: -50px;
    top: 0;
}

.banner-content {
    max-width: 550px;
    margin: 0px auto;
    text-align: center;
}

.banner-content h2 {
    font-size: 64px;
    font-style: normal;
    letter-spacing: -0.44px;
    line-height: 72px;
    font-weight: 700;
    height: auto;
    color: #731216;
    margin: 0;
    padding-bottom: 32px;
}

.banner-content a {
    background: #db232e;
    color: #fff!important;
    max-width: 219px;
    width: 100%;
    padding: 14px 50px;
    border-radius: 4px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
}



/********** Home Featured *********/


.feature-graphic {
    position: absolute;
    left: -400px;
    bottom: -200px;
}

.feature-home {
    position: relative;
    padding: 100px 0px;
}

.feature-content {
    display: flex;
    justify-content: space-between;
}

.feature-box {
    text-align: center;
    padding: 0px 15px;
}

.feature-box p {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2A2D36;
}

.feature-box h2 {
    color: #731216;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 18px;
    padding-top: 22px;
}





/*********** Home Plan ***************/


.plan-home {
    padding: 10px 0px;
    position: relative;
    min-height: 738px;
}

.convenient {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 732px;
    justify-content: flex-start;
    margin: 0px auto;
    max-width: 1248px;
    position: relative;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    
}

.plan-box {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    justify-content: flex-start;
    min-height: 320px;
    position: relative;
    max-width: 477px;
}

.plan-heading {
    color: #731216;
    flex-shrink: 0;
    font-weight: 700;
    position: relative;
    text-align: left;
    max-width: 477px;
    font-size: 36px;
    line-height: 48px;
}

.plan-text {
    background-color: transparent;
    color: #2A2D36;
    flex-shrink: 0;
    height: auto;
    margin-top: 24px;
    position: relative;
    text-align: left;
    max-width: 461px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.overlap-plan {
    background-color: transparent;
    flex-shrink: 0;
    height: 732px;
    margin-left: 147px;
    position: relative;
    width: 817px;
}

.oval-plan {
    background-color: transparent;
    height: 732px;
    left: 43px;
    position: absolute;
    top: 0px;
    width: 732px;
}

.plan-food{
    background-color: transparent;
    height: 617px;
    left: 0px;
    position: absolute;
    top: 63px;
    width: 817px;
}

.plan-box a {
    background: #db232e;
    color: #fff!important;
    padding: 14px 50px;
    border-radius: 4px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    max-width: 220px;
    line-height: 28px;
    width: 100%;
    text-align: center;
}








/***************** Subscribe ***************/



.subscribe-bg{
    background-image: url(../images/subscribe-bg.png);
    position: relative;
    padding: 72px 0px;
}

.subscribe-content {
    text-align: center;
}

.subscribe-content h2 {
    color: #fff;
    font-weight: 700;
    margin: 0;
    padding-bottom: 16px;
    font-size: 36px;
    line-height: 48px;
}

.subscribe-content p {
    color: #fff;
    font-weight: 500;
    margin: 0;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.subscribe-form {
    max-width: 392px;
    margin: 0px auto;
    position: relative;
}

.subscribe-form .form-control {
    height: auto;
    padding: 17px 15px;
    border: none;
    padding-right: 140px;
}

.subscribe-form button {
    position: absolute;
    background: #db232e;
    border: none;
    border-radius: 4px;
    top: 8px;
    right: 8px;
    padding: 9px 20px;
    color: #fff;
    max-width: 140px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}




/********* Home Product ************/


.product-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
}

.product-heading h2 {
    color: #731216;
    flex-shrink: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    position: relative;
    text-align: left;
    margin: 0;
}

.product-heading {
    padding-right: 20px;
}

.product-heading p {
    font-weight: 400;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #2A2D36;
    opacity: 50%;
}

.product-container .card-header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    background: none;
    border: none;
    padding: 0;
    padding-bottom: 15px;
}

.product-container figure {
    margin: 0 0 20px;
}


.product-container .card-subtitle {
    color: #731216;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding-bottom:18px;
}

.btn-cart {
    background: #db232e;
    color: #fff!important;
    padding: 10px 50px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 600;
    margin-top: 0px;
    border: none;
    font-size: 16px;
    line-height: 24px;
}

.btn-cart:hover, .btn-cart:focus {
    background: #db232e;
    color: #fff!important;
    text-decoration: none;
}

.product-image img {
    border-radius: 10px;
}










/************* Single Product *************/

.single-product-page {
    padding: 60px 0px;
}

.single-product-desc h3 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    color: #0A0E15;
    margin: 0;
    padding-bottom: 22px;
}

.single-product-desc .card-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #731216;
}

.single-product-desc .btn-cart {
    min-width: 180px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 5px;
    line-height: 28px;
}

.single-product-desc p {
    font-size: 16px;
    line-height: 24px;
    color: #2A2D36;
}

.social-share {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-share h6, .social-share ul {
    margin: 0;
}


.social-share h6 {
    padding-right: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #2A2D36;
    font-weight: 500;
}


.single-product-add-to-cart {
    padding-top: 24px;
    display: flex;
    align-items: center;
}


.increament-input {
    position: relative;
    margin-right: 20px;
}

.increament-input input {
    border: 1px solid #ddd;
    padding: 15px 50px;
    text-align: center;
    width: 180px;
    border-radius: 4px;
}

.decriment-btn {
    position: absolute;
    background: #ececec;
    border: none;
    padding: 10px 15px;
    top: 6px;
    left: 6px;
    border-radius: 4px;
}

.increament-btn {
    position: absolute;
    background: #ececec;
    border: none;
    padding: 10px 15px;
    top: 6px;
    right: 6px;
    border-radius: 4px;
}

.increament-input input::-webkit-outer-spin-button,
.increament-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.increament-input input[type=number] {
  -moz-appearance: textfield;
}

.increament-input + div {
    position: relative;
}

.increament-input + div p {
    position: absolute;
}

.single-product-add-to-cart .wishlist-menu {
    margin-left: 20px;
}






/********8/ Related Products *8**********/


.related-products{
    padding-top: 70px;
}

.related-products h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #731216;
    margin: 0;
    padding-bottom: 40px;
}