@import "../../../sass/essentials";

.shopping-cart {
	margin: 20px 0;
	float: right;
	background: white;
	width: 320px;
	border-radius: 3px;
	padding: 20px;
	position: absolute;
	top: 72px;
	right: 0;
	z-index: 2;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	opacity: 0;
	transition: opacity 0.3s linear;
	color: #222222;
	font-weight: bold;
	display: none;


	&.is-open {
		display: block;
		opacity: 1;
	}

	@include mq(small) {
		right: -15px;
	}

	.shopping-cart-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.shopping-cart-header {
		border-bottom: 1px solid #f3f3f3;
		padding-bottom: 15px;
		border-top: 1px solid #f3f3f3;
		padding-top: 15px;
	}

	.cart-icon {
		color: #515783;
		font-size: 24px;
		margin-right: 0px;
	}

	.cart-icon-wrp {
		position: relative;
	}

	.badge {
		background-color: #db232e;
		border-radius: 10px;
		font-weight: 300;
		color: white;
		display: inline-block;
		font-size: 12px;
		padding: 0;
		width: 20px;
		line-height: 20px;
		height: 20px;
		vertical-align: middle;
		white-space: nowrap;
		position: absolute;
		top: 5px;
		right: -14px;
	}

	.lighter-text {
		color: #8f8f8f;
		font-weight: 400;
	}

	.main-color-text {
		color: #222222;
	}

	.shopping-cart-items {
		padding-top: 20px;
		max-height: 300px;
		overflow: auto;
	}

	.shopping-cart-items {
		li {
			margin-bottom: 18px;
		}

		figure {
			float: left;
			margin-right: 20px;
		}

		.item-name {
			display: block;
			padding-top: 0px;
			font-size: 14px;
			line-height: 16px;
		}

		.item-price {
			margin-right: 8px;
			color: #222222;
		}

		.item-quantity {
			color: #8f8f8f;
			font-weight: normal;
		}
	}

	&::after {
		bottom: 100%;
		left: 89%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: white;
		border-width: 8px;
		margin-left: -8px;
	}

	.button {
		background: #db232e;
		color: white;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		display: block;
		border-radius: 3px;
		font-size: 16px;
		margin: 25px 0 15px 0;
	}

	.cart-close-button {
		display: none;
	}

	.shopping-cart-items figure {
		display: flex;
		align-items: center;
	}

	.shopping-cart-items figure .cart-remove {
		margin-right: 10px;
		cursor: pointer;
	}

}

ul.shopping-cart-items .lazy-load-image-background.blur.lazy-load-image-loaded>img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 3px;
}

@media screen and (max-width: 767px) {
	.shopping-cart {
		margin: 0;
		float: right;
		background: white;
		width: 300px;
		border-radius: 0px;
		padding: 20px;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 99999;
	}



	.shopping-cart .button {
		padding: 9px 10px;
	}

	.shopping-cart .shopping-cart-items .item-quantity {
		font-size: 10px;
	}

	.cart-close-button {
		text-align: right;
		padding-bottom: 10px;
		display: flex !important;
		margin-top: -8px;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #f3f3f3;
		margin-bottom: 10px;
	}

	.cart-close-button span {
		font-size: 18px;
	}

	.cart-close-button img {
		width: 20px;
	}

}