.product-image,
.product-image span,
.product-image img {
  display: block;
  width: 100%;
}

.product-container {
  .card-body {
    padding: 0px 10px;
  }

	& > * {
		transition: 0.5s;
		padding-top: 16px;
		&:hover {
			box-shadow: 0 4px 30px rgba(0,0,0,.1);
		}
	}
}
